/*
Colors:
red rgb(139, 0, 0)
*/

body {
    background-color: #e6eaed;
    height: 100%;
    font-family: 'Taviraj', serif;
}

#background {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.05;
    background-image: url(../images/background-tree.jpg);
    background-repeat: repeat;
    background-position: center top;
    background-size: auto;
    z-index: -1;
    display: block;
    height: 100%;
}

.testimonial {
    font-style: italic;
}

.studio-img {}

.video {
    width: 100% !important;
    height: auto !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.service-banner {
    background-size: cover;
    background-position: right;
    color: white;
    min-height: 155px;
    text-align: center
}

.service-banner1 {
    background-image: url(../images/service1-blur.jpg);
}

.service-banner2 {
    background-image: url(../images/service2-blur.jpg);
}

.social-buttons a {
    text-decoration: none;
}

.social-buttons a:hover {
    background: white;
}

.winered {
    color: #972929;
}

.winered-button {
    color: #fff!important;
    background-color: #972929!important
}

.barkbrown {
    color: #972929!important;
    background-color: #999999!important;
    border-color: #972929!important;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

.navbar a {
    color: #972929;
}

.hr-dividers {
    width: 50px;
    border: 5px solid #972929;
}

.address {
    text-decoration: none;
}

.address p:hover {
    background-color: white;
}

hr.gradientline {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(210, 22, 22, 0), rgba(210, 22, 22, 0.75), rgba(210, 22, 22, 0));
}