/*
Colors:
red rgb(139, 0, 0)
*/

body {
    background-color: #e6eaed;
    height: 100%;
    font-family: 'Taviraj', serif;
}

button:focus {
    outline-color: #972929;
}

#background {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 0.05;
    background-image: url(../images/background-tree.jpg);
    background-repeat: repeat;
    background-position: center top;
    background-size: auto;
    z-index: -1;
    display: block;
    height: 100%;
}

.testimonial {
    font-style: italic;
}

.studio-img {}

.video {
    width: 100% !important;
    height: auto !important;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.service-banner {
    background-size: cover;
    background-position: right;
    color: white;
    min-height: 155px;
    text-align: center
}

.service-banner1 {
    background-image: url(../images/service1-blur.jpg);
}

.service-banner2 {
    background-image: url(../images/service2-blur.jpg);
}

.social-buttons a {
    text-decoration: none;
}

.social-buttons a:hover {
    background: white;
}

.winered {
    color: #972929;
}

.winered-button {
    color: #fff!important;
    background-color: #972929!important
}

.barkbrown,
button.barkbrown {
    color: #972929!important;
    background-color: #bea481!important;
    border-color: #972929!important;
}

button.barkbrown:hover {
    border-style: dotted!important;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

.navbar a {
    color: #972929;
}

.hr-dividers {
    width: 50px;
    border: 5px solid #972929;
}

.address {
    text-decoration: none;
}

.address p:hover {
    background-color: white;
}

hr.gradientline {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(210, 22, 22, 0), rgba(210, 22, 22, 0.75), rgba(210, 22, 22, 0));
}

.jp-jplayer img {
    width: 100%!important;
}

.w3-display-bottom {
    position: absolute;
    bottom: 0
}

.cards {}

.cards .card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-sizing: border-box;
    margin-bottom: 15px;
    transition: all 0.3s;
}

.cards .card .card-header {
    position: relative;
}

.cards .card .card-header button.card-expand {
    position: absolute;
    right: 16px;
    top: 0;
    line-height: 10px;
    vertical-align: middle;
    height: 39px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: grey;
}

.cards .card .card-header button.card-expand:hover {
    background-color: #F9F9F9;
}

.cards .card .card-header button.card-expand .expand {
    display: block;
}

.cards .card .card-header button.card-expand .close {
    display: none;
}

.cards .card .card-footer {
    border-top: 1px solid #eee;
    text-transform: uppercase;
}

.cards .card .card-footer a {
    color: #757575;
    text-decoration: none;
}

.cards .card .card-inner {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.cards .card.expanded {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cards .card.expanded .card-inner {
    max-height: 1300px;
}

.cards .card.expanded button.card-expand .expand {
    display: none;
}

.cards .card.expanded button.card-expand .close {
    display: block;
}

.cards .card.expanded .card-header {
    border-bottom: 1px solid lightgrey;
}

.card-header {
    cursor: pointer;
}