.jp-play {
    width: 40px;
    height: 40px;
}

.jp-play {
    background: url("../image/jplayer.blue.monday.jpg") 0 0 no-repeat;
}

.jp-play:focus {
    background: url("../image/jplayer.blue.monday.jpg") -41px 0 no-repeat;
}

.jp-state-playing .jp-play {
    background: url("../image/jplayer.blue.monday.jpg") 0 -42px no-repeat;
}

.jp-state-playing .jp-play:focus {
    background: url("../image/jplayer.blue.monday.jpg") -41px -42px no-repeat;
}

.jp-stop,
.jp-previous,
.jp-next {
    width: 28px;
    height: 28px;
    margin-top: 6px;
}

.jp-stop {
    background: url("../image/jplayer.blue.monday.jpg") 0 -83px no-repeat;
    margin-left: 10px;
}

.jp-stop:focus {
    background: url("../image/jplayer.blue.monday.jpg") -29px -83px no-repeat;
}

.jp-previous {
    background: url("../image/jplayer.blue.monday.jpg") 0 -112px no-repeat;
}

.jp-previous:focus {
    background: url("../image/jplayer.blue.monday.jpg") -29px -112px no-repeat;
}

.jp-next {
    background: url("../image/jplayer.blue.monday.jpg") 0 -141px no-repeat;
}

.jp-next:focus {
    background: url("../image/jplayer.blue.monday.jpg") -29px -141px no-repeat;
}